* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-950: hsl(216, 12%, 8%);
  --orange-500: hsl(25, 97%, 53%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--grey-950);
}

.submit-container, .thank-you-container {
  display: block;
  border: 2px solid black;
  max-width: 350px;
  border-radius: 15px;
  padding: 30px;
  background-color: var(--grey-900);
}

.submit-container .star-icon {
  width: 50px;
  height: 50px;
  background-color: #323d4a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-container .numbers {
  display: flex;
  justify-content: space-between;
}

.submit-container h3 {
  border-radius: 50px;
  display: flex;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323d4a;
  color: var(--grey-500);
}

.submit-container h2 {
  color: var(--white);
  margin-top: 1.5rem;
}

.submit-container p {
  color: var(--grey-500);
  margin: 0.8rem 0;
  font-size: 0.9rem;
}

.submit-container button {
  width: 100%;
  padding: 10px 0;
  border-radius: 30px;
  border: none;
  background-color: var(--orange-500);
  margin-top: 1.2rem;

}

.thank-you-container {
 display: none;
 flex-direction: column;
 align-items: center;
}

.thank-you-container img {
  width: 150px;
}

.thank-you-container span {
  padding: 7px 15px;
  border-radius: 15px;
  box-shadow: none;
  color: var(--orange-500);
  background-color: #323d4a;
  font-size: 0.8rem;
  margin: 1rem 0;
}

.thank-you-container h2 {
  color: var(--white);
}

.thank-you-container p {
  font-size: 0.9rem;
  color: rgb(15, 33, 27);
  text-align: center;
  color: var(--grey-500);
  margin-top: 1rem;
}

.submit-container h3:hover {
  color: black;
  background-color: var(--orange-500);
  cursor: pointer;
}

.submit-container h3:active {
  background-color: white;
}

.submit-container button:hover {
  cursor: pointer;
  background-color: white;
}
